 .myProjectsBlock {
    min-height: 100vh;
    background-color:#1f1f20;
}
.myProjectsContainer {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
  color:#fff;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;
}
.title::before{
    content: '';
    position: absolute;
    background:#4e93eb ;
    width:55px ;
    height: 1px;
    bottom: 15px;
    margin-left: 100px;
}

.myProjects{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (max-width: 640px){
    .myProjects{
        justify-content: center;
        margin-block-end: 30px;
        border: none;
    }
}
 
 
 
 
 
