 .myProjectsBlock {
    min-height: 100vh;
    background-color:#1f1f20;
}
.myProjectsContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myProjects{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (max-width: 640px){
    .myProjects{
        justify-content: center;
        margin-block-end: 30px;
        border: none;
    }
}

@media screen and (max-width: 912px){
    .myProjects{
         justify-content: center;
        margin-block-end: 30px;
        border: none; 
    }
}
 
 
 
 
 
