
.header {
   display: flex;
   height: 80px;
   justify-content: end;
   align-items: center;
   margin-right: 20px;
}


@media screen and (max-width:640px){
   .header{
      justify-content: center;
      margin: 0px,30px;
   }
}
@media screen and (max-width:820px){
   .header{
      justify-content: center;
      margin: 0px,30px;
   }
}

@media screen and (max-width:912px){
   .header{
      justify-content: center;
      margin: 0px,30px;
   }
}

@media screen and (max-width:414px){
   .header {
      margin-right: 0px;
   }
}
 
