.header {
   display: flex;
   height: 80px;
   background-color: aqua;
   justify-content: end;
   align-items: center;
}

@media screen and (max-width:640px){
   .header{
      justify-content: center;
      margin: 0px,30px;
   }
}
@media screen and (max-width:820px){
   .header{
      justify-content: center;
      margin: 0px,30px;
   }
}

@media screen and (max-width:912px){
   .header{
      justify-content: center;
      margin: 0px,30px;
   }
}
 
