.myContactosBlock {
    min-height: 100vh;
    background-color:#72434b;
}
.myContactosContainer {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    color:rgb(162, 162, 240);
    font-family: 'Open Sans', sans-serif;
}
.myContacts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 12px;
}


.input1 {
margin: 10px;
}

.input2 {
    margin: 10px;
}

.textarea {
    margin: 10px;
    width: 236;
    height: 60px;
}
.button{
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width:640px){
    .button{
        margin-block-end: 30px;
    }
}

@media screen and (max-width:820px){
    .button{
        margin-block-end: 30px;
    }
}
@media screen and (max-width:912px){
    .button{
        margin-block-end: 30px;
    }
}







