.myContactosBlock {
    min-height: 100vh;
    background-color:#72434b;
}
.myContactosContainer {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    color:rgb(162, 162, 240)
}
.myContacts {
     /* border: 1px solid black; */
     display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 12px;
}

.input1 {
/* padding: 12px; */
margin: 10px;
}

.input2 {
    /* padding: 12px; */
    margin: 10px;
}

.textarea {
    /* padding: 12px; */
    margin: 10px;
}







/* .myProjectsBlock {
    min-height: 100vh;
    background-color:#ade494;
} */
/* .myProjectsContainer {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
} */
/* .title{
  color:blue
}

.myProjects{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
} */