.skill {
    width: 250px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.icon {
    margin-top: 20px;
    height: 60px;
    width: 60px;
    background-color: blueviolet;
}

.description {
     margin:30px;
     word-break: break-all; 
     font-family: 'Open Sans', sans-serif; 
     line-height: 25px;
     font-weight: 400px;
}
.title{
    font-family: 'Open Sans', sans-serif; 
}

@media screen and (max-width:640px){
    .skill{
        margin-top: 20px;
    }
    .description{
        margin:30px;
    }
    .icon{
        margin-top: 20px;
    }
}

@media screen and (max-width:820px){
    .skill{
        margin-top: 20px;
    }
    .description{
        margin:30px;
    }
    .icon{
        margin-top: 20px;
    }
}

@media screen and (max-width:912px){
     .skill{
        margin-block-end: 20px;
    } 
    .description{
        margin:30px;
    }
    .icon{
        margin-top: 20px;
    }
}