.skill {
    width: 250px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: blueviolet;
}

.description {
     word-break: break-all; 
}