

.title{
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
  }
