
.project {
    width: 450px;
    background-color: #252527;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 

.img_project {
    height: 250px;
    background-size: cover;
    width: 450px;
    background-repeat: no-repeat;
    position: relative;
}

.img_project::before{
    position: absolute;
    content: '';
    background-color: black;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}


.button_project {
    width: 80px;
    height: 30px;
    margin-top: 100px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(49, 49, 143);
    color: white;
    z-index: 1;
    cursor: pointer;
    position: relative;
}


.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 20px;
    line-height: 1.2px;
    color:#fff;
}
.description_project{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-weight: 400px;
    font-size: 12px;
    color: #fff;
}


@media screen and (max-width:280px) {
    .img_project {
        height: 70px;
        background-size: cover;
        width: 200px;
        background-repeat: no-repeat;
        position: relative;
    }
    .project {
        width: 200px;
    }
    .description_project {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .img_project {
        height: 170px;
        width: 170;
    }
}

@media screen and (max-width:414px) {
    .img_project {
        height: 70px;
        background-size: cover;
        width: 200px;
        background-repeat: no-repeat;
        position: relative;
    }
    .project {
        width: 200px;
    }
    .description_project {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .img_project {
        height: 170px;
        width: 170;
    }
}




@media screen and (max-width:640px){
    .project{
        margin-top: 20px;
    }
    .description_project{
        margin-block-end: 20px;
    }
}
@media screen and (max-width:820px){
    .description_project{
        margin-block-end: 20px;
    }
}
@media screen and (max-width:912px){
    .description_project{
        margin-block-end: 20px;
    }
    .project{
        margin-top: 50px;
    }

}

@media screen and (max-width:1140px){
    .project{
      margin-top: 20px;
   }
}




