.project {
    width: 250px;
    background-color: #252527;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.img_project {
    margin-top: 20px;
    height: 60px;
    width: 60px;
}

.button_project {
    margin: 10px; 
    font-family: 'Open Sans', sans-serif; 
} 
.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 20px;
    line-height: 1.2px;
    color:#fff;
}
.description_project{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-weight: 400px;
}





@media screen and (max-width:640px){
    .project{
        margin-top: 20px;
    }
    .description_project{
        margin-block-end: 20px;
    }
    .img_project{
        margin-top: 20px;
    }
}

@media screen and (max-width:820px){
    .description_project{
        margin-block-end: 20px;
    }
    .img_project{
        margin-top: 20px;
    }
}

@media screen and (max-width:912px){
    .description_project{
        margin-block-end: 20px;
    }
    .img_project{
        margin-top: 20px;
    }
}
@media screen and (max-width:280px){
    .description_project{
        margin: 20px;
    }
}




