.project {
    width: 250px;
    background-color: rgb(212, 113, 113);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.img_project {
    margin-top: 20px;
    height: 60px;
    width: 60px;
}

.button_project {
    margin: 10px; 
    font-family: 'Open Sans', sans-serif; 
} 
.title{
    font-family: 'Open Sans', sans-serif; 
}
.description_project{
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width:640px){
    .project{
        margin-top: 20px;
    }
    .description_project{
        margin-block-end: 20px;
    }
    .img_project{
        margin-top: 20px;
    }
}

@media screen and (max-width:820px){
    .description_project{
        margin-block-end: 20px;
    }
    .img_project{
        margin-top: 20px;
    }
}

@media screen and (max-width:912px){
    .description_project{
        margin-block-end: 20px;
    }
    .img_project{
        margin-top: 20px;
    }
}
@media screen and (max-width:280px){
    .description_project{
        margin: 20px;
    }
}




