.skillsBlock{
    height: 100vh;
    background-color:#d4ffc0;
}

.skillsContainer {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}


.title {
  color: red;
}

.skills {
    border: 1px solid black;
    width: 100%;
}