.skillsBlock{
    height: 100vh;
    background-color:#d4ffc0;
}

.skillsContainer {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.title {
  color: red;
}

.skills {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}