.skillsBlock{
   min-height: 100vh;
    background-color:#d4ffc0;
}

.skillsContainer {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-family: 'Open Sans', sans-serif; 
    text-transform: uppercase;
    font-weight: 900;
}

.skills {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (max-width:640px){
    .skills{
        justify-content: center;
        margin-block-end: 30px;
        border:none
    } 
}

 @media screen and (max-width:820px){
    .skills{
        border:none
    } 
} 

@media screen and (max-width:912px){
    .skills{
        border:none;
        margin: 15px;
    } 
} 