.mainBlock {
    height: 100vh;
    background-color: rgb(161, 111, 207);
}

.text {
    width: 300px;
    background-color: rgb(25, 95, 72);
}

.foto {
    height: 400px;
    width: 300px;
    background-color: rgb(34, 5, 30);
}