.mainBlock {
    height: 100vh;
    background-color: rgb(161, 111, 207);
}

.text {
    width: 300px;
    background-color: rgb(25, 95, 72);
    padding: 10px; 
}

.foto {
    height: 400px;
    width: 300px;
    background-color: rgb(34, 5, 30);
}
.p{
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    font-weight: 400px;
}

.h1{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.span{
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    font-weight: 400px;
}

 @media  screen and (max-width:280px) {
    .text {
        height: 300px;
        width: 174px;
        background-color: rgb(25, 95, 72);
        padding: 10px; 
    }
    .h1{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 25px;
    }
    .foto {
        height: 200px;
        width: 200px;
        background-color: rgb(34, 5, 30);
    }
 }
  @media  screen and (max-width:412px) {
    .foto {
        height: 400px;
        width: 300px;
        background-color: rgb(34, 5, 30);
    }
    .text {
        height: 300px;
        width: 250px;
        background-color: rgb(25, 95, 72);
        padding: 10px; 
    }
    .h1{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
    }
 } 

 @media  screen and (max-width:375px) {
    .foto {
        height: 200px;
        width: 250px;
        background-color: rgb(34, 5, 30);
    }
    .text {
        height: 300px;
        width: 250px;
        background-color: rgb(25, 95, 72);
        padding: 10px; 
    }
    .h1{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
    }
 } 
 @media  screen and (max-width:390px) {
    .foto {
        height: 200px;
        width: 250px;
        background-color: rgb(34, 5, 30);
    }
    .text {
        height: 300px;
        width: 250px;
        background-color: rgb(25, 95, 72);
        padding: 10px; 
    }
    .h1{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
    }
 } 
 @media  screen and (max-width:393px) {
    .foto {
        height: 300px;
        width: 250px;
        background-color: rgb(34, 5, 30);
    }
    .text {
        height: 300px;
        width: 250px;
        background-color: rgb(25, 95, 72);
        padding: 10px; 
    }
    .h1{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
    }
 } 


