.nav {
    border: 1px solid black;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.a {
    color:black;
    font-family: 'Open Sans', sans-serif; 
    line-height: 32px;
    font-weight: 400px;
}

@media screen and (max-width:280px){
    .nav{
        flex-wrap: wrap;
        margin: 0px,30px; 
    }
    .a {
        color:black;
        font-family: 'Open Sans', sans-serif; 
         line-height: 32px; 
    }

 }