.myFooterBlock {
    height: 180px;
    background-color:#f1b2bc;
}

.myFooterContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .myFooterName {
    color:blueviolet;
    font-family: 'Open Sans', sans-serif;
} */

.items {
    height: 40px;
    max-width: 300px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.item1 {
    background-color: rgb(117, 77, 24);
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}
.item2 {
    background-color: rgb(160, 71, 187);
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.item3 {
    background-color: rgb(104, 173, 72);
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.item4 {
    background-color: rgb(223, 31, 95);
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.copyright {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
}
.title{
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 615;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

@media screen and (max-width:280px){
   
    .title{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright{
        margin: 10px;
    }
}

 @media screen and (max-width:412px){
    .title{
        margin: 15px;
        font-size:20px;
    }
    .copyright{
        margin: 10px;
    }
} 

@media screen and (max-width:920px){
    .title{
        margin: 15px;
    }
    .copyright{
        margin: 10px;
    }
}

@media screen and (max-width:540px){
    .title{
        margin: 15px;
        font-size: 30px;
    }
    .copyright{
        margin: 10px;
    }
}

@media screen and (max-width:1280px){
    .copyright{
        margin: 5px;
    }
}